


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

#dob{
    margin-bottom: 30px;
    width: 130px;
}

button{
    width: 100px;
}